@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Public Sans", "DM Serif Display", sans-serif;
  overflow-x: hidden;
  background-color: #EDF3F8;
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#header {
  padding-top: 40px;
}

.header_container,
.header_logo__block,
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_nav {
  margin-left: 64px;
}

.header_item:not(:first-child) {
  margin-left: 40px;
}

.header_link {
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}

.header_btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background-color: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 15px 25.5px;
}

.header_menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/menu.svg");
  display: none;
}

.main_header__logo {
  max-width: 135px;
}

@media screen and (max-width: 768px) {
  .header_logo {
    max-width: 128px;
  }
  .header_nav {
    margin-left: 48px;
  }
}
@media screen and (max-width: 720px) {
  .header_btn,
  .header_nav {
    display: none;
  }
  .header_menu {
    display: block;
  }
  #header {
    padding-top: 48px;
  }
}
.hero {
  padding-top: 84px;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_title {
  max-width: 546px;
  color: #36536B;
  font-family: "DM Serif Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
}

.hero_btns {
  margin-top: 40px;
}

.hero_bg_btn {
  position: absolute;
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 15px 277px 15px 27px;
}

.hero_btn {
  position: relative;
  left: 277px;
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background-color: #BA4270;
  padding: 15px 25.5px;
}

.hero_text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  padding-left: 27px;
}

.hero_img {
  max-width: 430px;
}

@media screen and (max-width: 920px) {
  .hero {
    padding-top: 54px;
    padding-bottom: 100px;
  }
  .hero_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .hero_content {
    max-width: 573px;
  }
  .hero_img {
    max-width: 250px;
  }
  .hero_title {
    max-width: 573px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 573px) {
  .hero {
    padding-top: 24px;
    padding-bottom: 100px;
  }
  .hero_container {
    text-align: center;
  }
  .hero_content {
    max-width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .hero_img {
    max-width: 150px;
  }
  .hero_title {
    max-width: 327px;
    font-size: 32px;
    line-height: 36px;
    margin: 0 auto;
  }
  .hero_bg_btn {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 158px 15px 27px;
  }
  .hero_btn {
    display: inline-block;
    margin: 0 auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 15px 48px;
    left: auto;
    margin-top: 16px;
  }
  .hero_text {
    margin: 0 auto;
  }
}
.work {
  background-color: #1B262F;
  padding-top: 75px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-image: url("../../img/work-bg.svg");
  background-position: left top;
}

.work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work_content {
  max-width: 445px;
}

.work_title {
  max-width: 445px;
  color: #FBFCFE;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  padding-top: 100px;
}

.work_text {
  width: 445px;
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 24px;
}

.work_link {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  border: 1px solid #FBFCFE;
  padding: 15px 32px;
  margin-top: 32px;
}

.work_list {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto auto auto;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 40px;
}

@media screen and (max-width: 946px) {
  .work {
    padding-top: 35px;
  }
  .work_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 566px) {
  .work {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .work_content {
    margin: 0 auto;
    text-align: center;
  }
  .work_title {
    padding-top: 50px;
    max-width: 327px;
    font-size: 32px;
    line-height: 36px;
  }
  .work_text {
    max-width: 327px;
    font-size: 15px;
    line-height: 28px;
  }
  .work_list {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 356px) {
  .work_list {
    grid-template-columns: auto;
  }
}
.implement {
  padding-top: 150px;
}

.implement_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imp_content {
  max-width: 445px;
}

.imp_title {
  max-width: 445px;
  color: #36536B;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.imp_text {
  max-width: 445px;
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 24px;
}

@media screen and (max-width: 946px) {
  .implement {
    padding-top: 35px;
  }
  .implement_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 499px) {
  .implement {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .imp_title {
    max-width: 327px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
  }
  .imp_text {
    margin: 0 auto;
    text-align: center;
  }
}
.work {
  padding-top: 150px;
  background-repeat: no-repeat;
  background-image: url("../../img/simple-bg.svg");
  background-position: right center;
}

.simple_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simple_title {
  max-width: 445px;
  color: #36536B;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.simple_text {
  max-width: 445px;
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.simple_img {
  max-width: 563px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 939px) {
  .simple {
    padding-top: 35px;
  }
  .simple_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .simple_title {
    margin: 0 auto;
    text-align: center;
  }
  .simple_text {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
  }
  .simple_img {
    max-width: 363px;
  }
}
@media screen and (max-width: 512px) {
  .simple {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .simple_content {
    margin: 0 auto;
    text-align: center;
  }
  .simple_title {
    max-width: 327px;
    font-size: 36px;
    line-height: 36px;
    padding-top: 15px;
  }
  .simple_img {
    max-width: 320px;
  }
}
.finans {
  padding-top: 100px;
}

.finans_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finans_item {
  max-width: 350px;
  padding-bottom: 32px;
  text-align: center;
}
.finans_item::before {
  content: "";
  width: 106px;
  height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/icon.svg");
}
.finans_item:nth-child(2)::before {
  content: "";
  width: 106px;
  height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/icon1.svg");
}
.finans_item:nth-child(3)::before {
  content: "";
  width: 106px;
  height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/icon2.svg");
}

.finans_title {
  max-width: 350px;
  color: #36536B;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.finans_text {
  max-width: 350px;
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 16px;
}

@media screen and (max-width: 781px) {
  .finans_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .finans_item {
    max-width: 320px;
    margin-bottom: 32px;
  }
}
.last {
  padding-top: 96px;
  padding-bottom: 96px;
}

.last_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last_title {
  max-width: 445px;
  color: #36536B;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.last_btns {
  max-width: 445px;
  position: relative;
}

.last_bg_btn {
  color: #36536B;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 15px 277px 15px 27px;
}

.last_btn {
  position: absolute;
  left: 277px;
  color: #FBFCFE;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  border-radius: 24px;
  background-color: #BA4270;
  padding: 15px 25.5px;
}

@media screen and (max-width: 951px) {
  .last_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .last_title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 561px) {
  .last_container {
    margin: 0 auto;
  }
  .last_title {
    max-width: 328px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 32px;
  }
  .last_bg_btn {
    font-size: 13px;
    padding: 15px 158px 15px 27px;
    margin-bottom: 16px;
  }
  .last_btn {
    position: relative;
    left: auto;
    font-size: 15px;
    padding: 15px 48px;
  }
}
.footer {
  background-color: #1B262F;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer_container,
.footer_logo__block,
.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  margin-right: 64px;
}

.footer_link {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}

.footer_item:not(:first-child) {
  margin-left: 40px;
}

.footer_logo__link:not(:first-child) {
  margin-left: 24px;
}

@media screen and (max-width: 613px) {
  .footer_container,
  .footer_logo__block,
  .footer_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .footer_logo {
    margin-bottom: 40px;
    text-align: center;
  }
  .footer_item {
    margin-bottom: 30px;
  }
  .footer_list {
    margin-bottom: 40px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */