#header {
    padding-top: 40px;
}

.header_container,
.header_logo__block,
.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    margin-left: 64px;
}

.header_item:not(:first-child) {
    margin-left: 40px;
}

.header_link {
    color: #36536B;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.header_btn {
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    border-radius: 24px;
    background-color: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    padding: 15px 25.5px;
}

.header_menu{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-image: url('../img/menu.svg');
    display: none;
}

.main_header__logo {
    max-width: 135px;
}

@media screen and (max-width:768px) {
    .header_logo {
        max-width: 128px;
    }

    .header_nav {
        margin-left: 48px;
    }
}

@media screen and (max-width:720px) {

    .header_btn,
    .header_nav {
        display: none;
    }

    .header_menu {
        display: block;
    }
    #header {
        padding-top: 48px;
    }
    
}