.work {
    background-color: #1B262F;
    padding-top: 75px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-image: url('../../img/work-bg.svg');
    background-position: left top;
}

.work_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work_content {
    max-width: 445px;
}

.work_title {
    max-width: 445px;
    color: #FBFCFE;
    font-family: 'DM Serif Display';
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    padding-top: 100px;
}

.work_text {
    width: 445px;
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 24px;
}

.work_link {
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    border-radius: 24px;
    border: 1px solid #FBFCFE;
    padding: 15px 32px;
    margin-top: 32px;
}



.work_list {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 60px;
    row-gap: 40px;
}

@media screen and (max-width:946px) {
    .work {
        padding-top: 35px;
    }

    .work_container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }

}

@media screen and (max-width:566px) {
    .work {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .work_content {
        margin: 0 auto;
        text-align: center;
    }

    .work_title {
        padding-top: 50px;
        max-width: 327px;
        font-size: 32px;
        line-height: 36px;
    }

    .work_text {
        max-width: 327px;
        font-size: 15px;
        line-height: 28px;
    }

    .work_list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:356px) {
    .work_list {
        grid-template-columns: auto;
    }
}